<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H8 Model Deployment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form action="{{ url_for('predict') }}" method="post">
        <input type="text" name="UBPP Materi" placeholder="UBPP Materi" required="required" />
        <p>{{ prediction_text }}</p>
        <button type="submit">Predict</button>

    </form>

</body>
</html>